*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #333333
}

body {
    margin:0;
    padding:0;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    font-weight: 400;
}

a {
    color: #293d55;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus, a:active {
    color: #333;
    outline:none;
    text-decoration: none;
}

button{
  outline:none;
}

.pd5{
  padding:2em;
}

.pd2{
  padding:1em;
}

.pd1{
  padding:.5em;
}

.center{
  text-align: center;
}
.border-bottom{
  border-bottom: 2px solid rgba(0,0,0,.1);
  margin-bottom: 1em;
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
label, input, textarea, select {
  display: block;
  outline: none; }

.l-container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

img{
  margin:0 auto;
  max-width: 100%;
  display: block;
}

.logonew{
  max-width: 30%;
}
.view-new{
  margin-top: 50px;
  margin-bottom: 30px;
}
@media screen and (min-width:1024px) {
  .view-new{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .file-new, .content-new{
    width:48%;
    }
  }
  .file-new{
    text-align: center;
  }
  .content-new{
    padding: 30px;
    margin-top:30px;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

  }